.container{
	display: flex;
	width: 100%;
	min-height: 100vh;
	font-family: 'Averta', sans-serif;
}

.leftColumn{
	display: flex;
	flex: 0 0 300px;
	min-height: 100%;
	background: #141c25;
	padding: 50px;
	flex-flow: column;
	justify-content: center;
}

.section{
	/* margin-bottom: 150px; */
}

.sectionName{
	text-transform: uppercase;
	color: #616a77;
	font-weight: lighter;
	margin: 30px 0;
}

.sectionItem{
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	margin: 20px 0;
	cursor: pointer;
}

.selectedItem{
	padding-left: 47px;
	margin-left: -50px;
	border-left: 3px solid #40bed3;
	color: #40bed3;
}

.categories .sectionItem {
	color: #818797;
	font-size: 13px;
	cursor: pointer;
}

.categories .selectedItem{
	color: #40bed3;
}

.categories .sectionItem:hover{
	color: #40bed3;
}

.rightColumn{
	flex: 1 1 auto;
	min-height: 100%;
	background: #0d171f;
	padding: 50px;
}
