.headerInfos{
	display: flex;
    align-items: center;
}

.headerInfos img{
	width: 200px;
    height: 300px;
    object-fit: cover;
}

.infos{
	margin-left: 1rem;
}

.title{
	font-size: 4rem;
	margin: 1rem 0;
}

.otherInfos{
	font-weight: lighter;
}

.score{
	font-size: 1.3rem;
	display: inline-block;
}

.animeInfos{
	font-size: 1.1rem;
	display: inline-block;
	margin-left: 3rem;
	opacity: 0.7;
}

.dot{
	margin: 0 .5rem;
}

.ageBox{
	display: inline-block;
    border: 1px solid;
    padding: 5px;
}

.content{
	margin-top: 2.5rem;
}

.charts{
	display: flex;
    justify-content: center;
    align-items: center;
}

.chartBox{
	display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 2.5rem;
}

.sugestions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 3rem;
}

.cardList{
	display: flex;
	flex-wrap: wrap;
}