.card{
	display: inline-block;
	max-width: 175px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.card img{
	width: 175px;
	height: auto;
}

.card p {
	margin-top: 15px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
